@model MRT.Controllers.MRTController.BookingsViewModel

@{
    ViewData["Title"] = "Home";
}

<h3 class="mb-2">MRT Ticketing System</h3>

<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Home" asp-route-userId="@Model.User.UserId">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Profile" asp-route-userId="@Model.User.UserId">Profile</a>
                </li>
                @if (Model.User.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ManageUsers" asp-route-userId="@Model.User.UserId">Manage Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ManageBookings" asp-route-userId="@Model.User.UserId">Manage Bookings</a>
                    </li>
                }
            </ul>
            <a class="text-danger my-2 my-sm-0" asp-action="Index">Log out</a>
        </div>
    </div>
</nav>

<h5>Welcome @Html.DisplayFor(x => x.User.Name)!</h5>

<p>View all your booking below. Add booking by clicking on top right button.</p>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-primary" asp-action="AddBooking" asp-route-userId="@Model.User.UserId">Add Booking</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Booking Id</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Price Before Discount (RM)</th>
            <th scope="col">Discount (%)</th>
            <th scope="col">Total Price (RM)</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.Bookings)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => booking.BookingId)</td>
                <td>@Html.DisplayFor(modelItem => booking.StationFrom)</td>
                <td>@Html.DisplayFor(modelItem => booking.StationTo)</td>
                <td>
                    @if (booking.IsOneWay)
                    {
                        <text>One Way</text>
                    }
                    else
                    {
                        <text>Return</text>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => booking.ListPrice)</td>
                <td>@Html.DisplayFor(modelItem => booking.DiscountPercentage)</td>
                <td>@Html.DisplayFor(modelItem => booking.TotalPrice)</td>
                <td>
                    <a class="btn btn-primary" asp-action="">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
