@model MRT.Models.User

@{
    ViewData["Title"] = "Home";
}

<h3 class="mb-2">MRT Ticketing System</h3>

<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Home" asp-route-userId="@Model.UserId">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Profile" asp-route-userId="@Model.UserId">Profile</a>
                </li>
                @if (Model.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ManageUsers" asp-route-userId="@Model.UserId">Manage Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ManageBookings" asp-route-userId="@Model.UserId">Manage Bookings</a>
                    </li>
                }
            </ul>
            <a class="text-danger my-2 my-sm-0" asp-action="Index">Log out</a>
        </div>
    </div>
</nav>

<h5>Welcome @Html.DisplayFor(x => x.Name)!</h5>

<p>View all your booking below. Add booking by clicking on top right button.</p>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <a class="btn btn-primary" asp-action="AddBooking" asp-route-userId="@Model.UserId">Add Booking</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Booking Id</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Price Before Discount</th>
            <th scope="col">Discount</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
